aside
    div#clientSearch.c-search
        div.c-search__form
            label(for="searchField" class="c-search__label") Search of client
            input(id="searchField" class="c-search__input")
    div#clientsList
        include ../../tpls/tpl_clients-list