extends ../layouts/default

block content
    h4 Boilertemplate1234
    p
        | HTML5 Boilerplate is a professional front-end template for building fast,
        | robust, and adaptable web apps or sites. Changes 123

    h4 Sass
    p
        | Sass is the most mature, stable, and powerful professional grade
        | CSS extension language in the world. Lorem ipsum

block footer
    include ../footer/footer