extends layouts/default

block content
    h4 Boilertemplate
    p
        | HTML5 Boilerplate is a professional front-end template for building fast,
        | robust, and adaptable web apps or sites.

    h4 Sass
    p
        | Sass is the most mature, stable, and powerful professional grade
        | CSS extension language in the world.

block footer
    include footer/footer