doctype html
html.no-js
    head
        meta(charset='utf-8')
        title Clients App
        meta(name='description' content='')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        link(rel='stylesheet' href='main.css')
    body
        section
            include ../header/header

            section.wrapper
                include ../sidebar/sidebar
                block content

            include ../footer/footer

        script(src='app.bundle.js')